<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <script src="https://kit.fontawesome.com/e266bfc7e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header class="center">
            <div>
                <p class="brand">Store</p>
            </div>
            <div class="cart">
                <div class="search">
                    <form action="#" class="search__form" @submit.prevent="filter">
                        <input type="text" class="search__field" v-model="searchLine">
                        <button class="search__btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <button class="btn-cart" type="button" @click='isVisibleCart = !isVisibleCart'>Корзина</button>
                <div class="cart__mini" v-show='isVisibleCart'>
                    <p v-if="!cartItems.length">Корзина пуста</p>

                    <div class="cart__item" v-for="item of cartItems" :key="item.id_product">
                        <div class="cart__item-desc">
                            <img :src="imgCart" alt="Some image">
                            <div class="cart__item-desc-text">
                                <p class="cart__item-title">{{item.product_name}}</p>
                                <p class="cart__item-quantity">Количество: {{item.quantity}}</p>
                                <p class="cart__item-single-price">{{item.price}}₽ за единицу</p>
                            </div>
                        </div>
                        <div class="cart__item-button">
                            <p class="cart__item-price">{{item.quantity*item.price}}₽</p>
                            <button class="cart__item-del-btn" @click="remove(item)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="center">
            <div class="products">
                <div class="product-item" v-for='product of filtered' :key='product.id_product'>
                    <img :src='imgCatalog' alt="Some img">
                    <div class="desc">
                        <h3 class="product-name">{{ product.product_name }}</h3>
                        <p>{{ product.price }} ₽</p>
                        <button class="by-btn" @click='addProduct(product)'>Добавить в корзину</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>